@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #105463;
  --primary-50: #e6f2f4;
  --primary-100: #cce5e9;
  --primary-200: #99cbd3;
  --primary-600: #105463;
  --primary-700: #0d424e;
  --primary-800: #0a313a;
  --primary-900: #072026;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}